<div class="card">

  <div class="main-info">

    <div class="right">
      <h2 class="city">{{ 'Napoli' }}</h2>
      <div class="additional-info">
        <div class="info-element">
          <span class="title">Percepita</span>
          <span class="info">23°</span>
        </div>

        <span class="vertical-divider"></span>

        <div class="info-element">
          <span class="title">Umidità</span>
          <span class="info">43%</span>
        </div>
      </div>
    </div>

    <div>
      <div class="weather">
        <div class="weather-img">
          <img ngSrc="assets/img/weather/storm.png" fill alt="Pioggia">
        </div>
        <span class="main-temp">23°</span>
      </div>
    </div>

  </div>


</div>
