<kmd-card>
  <div class="main-info">

    <div class="left">
      <h2 class="city">{{ 'Napoli' }}</h2>
      <div class="additional-info">
        <div class="info-element">
          <span class="title">Percepita</span>
          <span class="info">23°</span>
        </div>

        <div class="info-element">
          <span class="title">Umidità</span>
          <span class="info">43%</span>
        </div>
      </div>
      <div class="additional-info">
        <div class="info-element">
          <span class="title">Vento</span>
          <span class="info">30 Km/h</span>
        </div>

        <div class="info-element">
          <span class="title">Indice UV</span>
          <span class="info">1</span>
        </div>
      </div>
    </div>

    <div>
      <div class="weather">
        <div class="weather-img">
          <img ngSrc="assets/img/weather/storm.png" [priority]="0" fill alt="Pioggia">
        </div>
        <span class="main-temp">23°</span>
      </div>
    </div>
  </div>
</kmd-card>


