/* You can add global styles to this file, and also import other style files */
/* Weather images from https://www.flaticon.com/search?style_id=136&author_id=1&word=weather&type=standard */
@import "primeicons/primeicons.css";
@font-face {
  font-family: Nunito;
  src: url("assets/fonts/Nunito-VariableFont_wght.ttf");
  font-weight: auto;
  font-style: auto;
}

@font-face {
  font-family: Nunito;
  src: url("assets/fonts/Nunito-Italic-VariableFont_wght.ttf");
  font-weight: auto;
  font-style: italic;
}

html {
  padding: 0;
  background: #87ceeb;
  color: #2C2D2D;
  font-family: "Nunito", serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h2 {
  font-size: 2.25rem;
}

.info-element {
  display: flex;
  flex-direction: column;
  margin: .312rem .625rem;

  .title {
    font-size: 1rem;
    font-weight: bold;
  }

  .info {
    font-size: 1.25rem
  }
}


input{
  padding: .625rem;
  margin: 0 .625rem;
  border: none;
  border-radius: .5rem;

  &:focus {
    outline: none;
  }
}

button {
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  html{
    font-size: 14px;
  }
}
