    <div class="forecast-container">
    @for (day of forecastInfo(); track day.dt) {
      <div class="forecast-col">
        <div class="forecast-date">
          <h5 class="day">{{day.dt * 1000 | date:'dd'}}</h5>
          <p class="date">{{day.dt * 1000| date: 'MMM yyyy'}}</p>
        </div>
        <div class="forecast-row">
          <div class="weather-img">
            <img [ngSrc]="day.weather[0].icon | weatherIcon" fill priority="1" [alt]="'sunny'">
          </div>
        </div>
        <div class="forecast-row">
          <span>{{day.temp.day | unit: 'temp' : 0}}</span>
        </div>
        <div class="forecast-row">
          <span>{{day.humidity}} %</span>
        </div>
        <div class="forecast-row">
          <span>{{day.uvi}}</span>
        </div>
        <div class="forecast-row">
          <span>{{day.wind_speed | unit: 'speed'}}</span>
        </div>
      </div>
    }
  </div>
