  <div class="hourly-info">

    <div class="header">
      <h2>Giornaliero</h2>
    </div>

    <div class="hourly-table">
      <table >
        <tr>
          <th>Ora</th>
          <th></th>
          <th>Condizioni</th>
          <th>Temperatura</th>
          <th>Precipitazioni</th>
          <th>Umidità</th>
        </tr>

        @for (hour of hourlyData(); track hour.dt) {
          <tr>
            <td>{{ hour.dt * 1000 | date: 'hh:mm'  }}</td>
            <td class="img-cell">
              <div>
                <img [ngSrc]="hour.weather[0].icon | weatherIcon" fill [alt]="hour.weather[0].description">
              </div></td>
            <td>
                {{ hour.weather[0].description | titlecase }}
            </td>
            <td>{{hour.temp}}</td>
            <td>{{hour.rain ?? 0}} mm</td>
            <td>{{hour.humidity}}</td>
          </tr>
        }

      </table>

    </div>
  </div>
