  <div class="hourly-info">
    @if (shown()) {
    <div class="hourly-table">
      <table >
        <tr>
          <th>Ora</th>
          <th>Temperatura</th>
          <th>Condizioni</th>
          <th>Precipitazioni</th>
          <th>Umidità</th>
        </tr>

        @for (hour of hourlyData(); track hour.dt) {
          <tr>
            <td>{{ hour.dt * 1000 | date: 'H:mm'  }}</td>
            <td>{{hour.temp | unit: 'temp'}}</td>
            <td>
              <div class="img-cell">
                <div class="weather-icon">
                  <img [ngSrc]="hour.weather[0].icon | weatherIcon" fill [alt]="hour.weather[0].description">
                </div>
                {{ hour.weather[0].description | titlecase }}
              </div>
            </td>
            <td>{{hour.rain ?? 0}} mm</td>
            <td>{{hour.humidity}} %</td>
          </tr>
        }

      </table>

    </div>
    }
    <button class="show-more" (click)="manageHourly()">
      <i [class]="'pi ' + ( shown() ? 'pi-chevron-up' : 'pi-chevron-down')"></i>
      {{shown() ? 'Nascondi' : 'Mostra'}} previsioni orarie
    </button>
  </div>
