.hourly-info {
  .header {
    display: flex;
    justify-content: space-between;

    .min-max {
      display: flex;
    }
  }

  .hourly-table {
    overflow-x: scroll;
    padding-bottom: 1.25rem;

    table {
      width: 100%;
      border-spacing: .625rem;
      border-bottom: #2C2D2D .062rem solid;
      border-collapse: collapse;

      th, td {
        font-size: 1rem;
        padding: .625rem .937rem;
        text-align: center;
        border-bottom: #2C2D2D 1px solid;
      }


      .img-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .625rem;
        .weather-icon {
          position: relative;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
